.glass {
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}
@keyframes ripple {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.ripple {
    animation: ripple 2s infinite;
}

.container-product {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px; */

    margin-left: 10%;
    margin-right: 10%;
   
}